body{
    background-color: #2b43ff94;
    color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #337ab7;
  color: #fdffff;
  border-style: none;
}
input {
    height: 25px;
}